html, body {
    height: 100%;
    width: 100%;
} /* keep an eye on this assumption */

body {
    margin: 50px;    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 500px;
    width: 100%;
}

.headerContent {
    display: flex;
    flex-direction: row;  
    max-width: 1250px;  
    width: 100%;
}

.headerContent .description {
    border: 2px solid rgb(227, 221, 221);
    padding-left: 25px;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

.headerContent .photo {
    height: fit-content;
    z-index: 1;
    
}

.headerContent img {
    max-width: 500px;
    max-height: 500px;
}

.description p {
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: row ;
    justify-content: center;  
    width: 100%;
}

.mainContent {
    min-height: 2000px;
    max-width: 1250px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 35px;
    width: 100%;
}

.projectContent {
    height: 100%;
    width: 100%;
    border: 1px solid;
}